<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h2>Students</h2>
    <ul>
        {% for student in xx %}
            <li>{{student.name}}</li>
        {% endfor %}
    </ul>

    <ul>
        {% for courses in yy %}
            <li>{{courses.name}}</li>
        {% endfor %}
    </ul>
    
</body>
</html>